# COGS 108 - Assignment 3: Data Privacy

# Important Reminders

**You must submit this file (`A3_DataPrivacy.ipynb`) to TritonED to finish the homework.**

This assignment has hidden tests - tests that are not visible here but that will be run on your submitted assignment.
- This means passing all the tests you can see in the notebook here does not guarantee you have the right answer!

Use the Tutorials notebooks as reference, as they often contain similar examples to those used in the assignment.

## Overview

We have discussed in lecture the importance and the mechanics of protecting individuals privacy when they are included in datasets. 

One method to do so is the Safe Harbor Method. The Safe Harbour method specifies how to protect individual's identities by telling us which tells us which information to remove from a dataset in order to avoid accidently disclosing personal information. 

In this assignment, we will explore web scraping, which can often include personally identifiable information, how identity can be decoded from badly anonymized datasets, and also explore using Safe Harbour to anonymize datasets properly. 

The topics covered in this assignment are mainly covered in the 'DataGathering' and 'DataPrivacy&Anonymization' Tutorial notebooks.

### Installing new packages

In the first part of the assignment we will understand how we can scrape the web for data. You have to use the Beautiful Soup library in Python for scraping the data. 

The library is not installed in Anaconda version, therefore to install a new library for Anaconda, we can use the conda package manager, which the cell below does for you.

In [1]:
# Run this cell to install beautifulsoup4
#  You only need to do the installation once
#    Once you have run it you can comment these two lines so that the cell doesn't execute everytime.
import sys
!conda install --yes --prefix {sys.prefix} beautifulsoup4

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
# Imports - these provided for you. Do not import any other packages
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup

## Part 1: Web Scraping

### Scraping Rules

1) If you are using another organizations website for scraping, make sure to check the website's terms & conditions. 

2) Do not request data from the website too aggressively (quickly) with your program (also known as spamming), as this may break the website. Make sure your program behaves in a reasonable manner (i.e. acts like a human). One request for one webpage per second is good practice.

3) The layout of a website may change from time to time. Because of this, if you're scraping website, make sure to revisit the site and rewrite your code as needed.

### 1a) Web Scrape

We will first retrieve the contents on a page and examine them a bit.

Make a variable called 'wiki', that stores the following URL (as a string):
'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population'

To open the URL you can use 'requests.get' as shown in the cell above. Call this variable 'page'
After that use BeautifulSoup Library to open the URL and assign it to an object called 'soup'

In [3]:
wiki = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population'
page = requests.get(wiki)
soup = BeautifulSoup(page.content)

In [4]:
assert wiki
assert page
assert soup

### 1b) Checking Scrape Contents

Extract the title from the page and save it in a variable called `title_page`. 
Make sure you extract it as a string.
To do so, you have to use the soup object created in the above cell. 
Hint: from your soup variable, you can access this with `.title.string`
Make sure you print out and check the contents of `title_page`. 
Note that it should not have any tags (such as `<title>` included in it).

In [5]:
title_page = soup.title.string
title_page

'List of states and territories of the United States by population - Wikipedia'

In [6]:
assert title_page
assert isinstance(title_page, str)

### 1c) Extracting Tables

In order to extract the data we want, we'll start with extracting a data table of interest. 
Note that you can see this table by going to look at the link we scraped.
Use the soup object and call a method called find, which will and extract the first table in scraped webpage. 
Note: you need to search for the name `table`, and set the `class_` argument as `wikitable sortable`.

In [7]:
right_table = soup.find('table', class_="wikitable sortable")

In [8]:
assert right_table
assert isinstance(right_table, bs4.element.Tag)
assert right_table.name == 'table'

Extract the data from the table into lists.
Note: This code provided for you. Do read through it and try to see how it works.

In [9]:
lst_a, lst_b, lst_c = [], [], []

for row in right_table.findAll('tr'):
    
    cells = row.findAll('td')
    
    # Skips rows that aren't 10 columns long (like the heading)
    if len(cells) != 11:
        continue

    # This catches when the name cells stops having a link
    #  and ends, skipping the last (summary rows)
    try:
        lst_a.append(cells[2].find('a').text.strip())
        lst_b.append(cells[3].find(text=True).strip())
        lst_c.append(cells[4].find(text=True).strip())
    except:
        break

### 1d) Collecting into a dataframe

Create a dataframe `my_df` and add the data from the lists above to it. 
- `lst_a` is the state or territory name. Set the column name as `State`, and make this the index
- `lst_b` is the population estimate. Add it to the dataframe, and set the column name as `Population Estimate`
- `lst_c` is the census population. Add it to the dataframe, and set the column name as `Census Population`

In [10]:
af = {'State': lst_a}
my_df = pd.DataFrame(data=af)
my_df['Population Estimate'] = lst_b
my_df['Census Population'] = lst_c
my_df.set_index('State', inplace=True)
my_df

                         Population Estimate Census Population
State
California                        39,557,045        37,252,895
Texas                             28,701,845        25,146,105
Florida                           21,299,325        18,804,623
New York                          19,542,209        19,378,087
Pennsylvania                      12,807,060        12,702,887
Illinois                          12,741,080        12,831,549
Ohio                              11,689,442        11,536,725
Georgia                           10,519,475         9,688,681
North Carolina                    10,383,620         9,535,692
Michigan                           9,998,915         9,884,129
New Jersey                         9,032,873         8,791,936
Virginia                           8,517,685         8,001,045
Washington                         7,535,591         6,724,543
Arizona                            7,171,646         6,392,307
Massachusetts                      6,902,149         6,547,817
Tennessee                          6,770,010         6,346,275
Indiana                            6,691,878         6,484,229
Missouri                           6,126,452         5,988,927
Maryland                           6,042,718         5,773,785
Wisconsin                          5,813,568         5,687,289
Colorado                           5,695,564         5,029,324
Minnesota                          5,611,179         5,303,925
South Carolina                     5,084,127         4,625,401
Alabama                            4,887,871         4,780,127
Louisiana                          4,659,978         4,533,479
Kentucky                           4,468,402         4,339,349
Oregon                             4,190,713         3,831,073
Oklahoma                           3,943,079         3,751,616
Connecticut                        3,572,665         3,574,118
Puerto Rico                        3,195,153         3,726,157
...                                      ...               ...
New Mexico                         2,095,428         2,059,192
Nebraska                           1,929,268         1,826,341
West Virginia                      1,805,832         1,853,011
Idaho                              1,754,208         1,567,652
Hawaii                             1,420,491         1,360,301
New Hampshire                      1,356,458         1,316,466
Maine                              1,338,404         1,328,361
Montana                            1,062,305           989,417
Rhode Island                       1,057,315         1,052,931
Delaware                             967,171           897,936
South Dakota                         882,235           814,191
North Dakota                         760,077           672,591
Alaska                               737,438           710,249
District of Columbia                 702,455           601,767
Vermont                              626,299           625,745
Wyoming                              577,737           563,767
Guam                                 165,718           159,358
U.S. Virgin Islands                  104,914           106,405
American Samoa                        55,641            55,519
Northern Mariana Islands              55,194            53,883
Wake Island                              100               188
Palmyra Atoll                             20                20
Midway Atoll                              40                 0
Johnston Atoll                             0                 0
Baker Island                               0                 0
Howland Island                             0                 0
Jarvis Island                              0                 0
Kingman Reef                               0                 0
Navassa Island                             0                 0
Contiguous United States         324,307,050       306,687,555

[66 rows x 2 columns]

In [11]:
assert isinstance (my_df, pd.DataFrame)
assert my_df.index.name == 'State'
assert list(my_df.columns) == ['Population Estimate', 'Census Population']

### 1e) Using the data
What is the Population Estimate of California? Save this answer to a variable called `calif_pop`
Notes:
- Extract this value programmatically from your dataframe (as in, don't set it explicitly, as `cf = 123`)
- You can use `.loc` to extract a particular value from a dataframe.
- The data in your dataframe will be strings - that's fine, leave them as strings (don't typecast).

In [12]:
calif_pop = my_df.loc['California', 'Population Estimate']
calif_pop

'39,557,045'

In [13]:
assert calif_pop

## Part 2: Identifying Data

Data Files:
- anon_user_dat.json
- employee_info.json

You will first be working with a file called `anon_user_dat.json`. This file that contains information about some (fake) Tinder users. When creating an account, each Tinder user was asked to provide their first name, last name, work email (to verify the disclosed workplace), age, gender, phone # and zip code. Before releasing this data, a data scientist cleaned the data to protect the privacy of Tinder's users by removing the obvious personal identifiers: phone #, zip code, and IP address. However, the data scientist chose to keep each users' email addresses because when they visually skimmed a couple of the email addresses none of them seemed to have any of the user's actual names in them. This is where the data scientist made a huge mistake!

We will take advantage of having the work email addresses by finding the employee information of different companies and matching that employee information with the information we have, in order to identify the names of the secret Tinder users!

### 2a) Load in the 'cleaned' data 

Load the json file into a pandas dataframe. Call it `df_personal`.

In [14]:
df_personal = pd.DataFrame()
df_personal = pd.read_json('anon_user_dat.json')
df_personal

     age                           email  gender
0     60     gshoreson0@seattletimes.com    Male
1     47              eweaben1@salon.com  Female
2     27         akillerby2@gravatar.com    Male
3     46               gsainz3@zdnet.com    Male
4     72        bdanilewicz4@4shared.com    Male
5     46       sdeerness5@wikispaces.com  Female
6     53          jstillwell6@ustream.tv  Female
7     29          mpriestland7@opera.com    Male
8     39        nerickssen8@hatena.ne.jp  Female
9     45              hparsell9@xing.com    Male
10    26                 acopasa@fda.gov    Male
11    83        bdanielovitchb@jigsy.com    Male
12    73              cwestbergc@psu.edu  Female
13    30          jlarived@goodreads.com  Female
14    69             mchallisse@ning.com  Female
15    29            cbrognotf@ebay.co.uk    Male
16    45              aphearg@tumblr.com    Male
17     3             askogginsh@jugem.jp  Female
18    34       eondraseki@deviantart.com  Female
19    37                 kcaswallj@is.gd  Female
20    53          cpetrillok@cbsnews.com    Male
21    58             bstratfordl@ted.com  Female
22    83     mandreichikm@shareasale.com    Male
23    47              jsegarn@sfgate.com    Male
24    51        aurridgeo@purevolume.com    Male
25    65                njandap@ebay.com    Male
26    26             lwathallq@exblog.jp  Female
27    57      aoveringtonr@canalblog.com  Female
28    39                dbrellins@ft.com  Female
29    26              ebukact@toplist.cz  Female
..   ...                             ...     ...
970   47        dsessionsqy@sakura.ne.jp  Female
971   25      vkondratenkoqz@cornell.edu    Male
972   43         tbrethertonr0@lycos.com  Female
973   65        srenfrewr1@shinystat.com  Female
974   47       jjoiceyr2@theatlantic.com    Male
975   20           bborleacer3@naver.com    Male
976   33         lmackeer4@reference.com  Female
977   37         mpaolicchir5@utexas.edu  Female
978   52              lgaliar6@lycos.com  Female
979   25  ldemcakr7@networksolutions.com  Female
980   35            ide giorgior8@360.cn    Male
981   41            mmctrustyr9@jugem.jp    Male
982   63           ekohnra@amazonaws.com    Male
983   35        mmillmorerb@hatena.ne.jp    Male
984   20           lchaudrellerc@soup.io    Male
985   43            iavramovitzrd@ft.com  Female
986   32         rreaneyre@canalblog.com  Female
987   30    sscawnrf@businessinsider.com    Male
988   48         lharbronrg@slashdot.org    Male
989   37              pgurnayrh@uiuc.edu    Male
990   31                 ckyngeri@hp.com  Female
991   55     cboothroydrj@yellowbook.com    None
992   14             kbrunkerrk@hibu.com    Male
993   65             sleallerl@wikia.com  Female
994   38          kbeefonrm@vkontakte.ru  Female
995    3           pstroulgerrn@time.com  Female
996   49     kbasnettro@seattletimes.com  Female
997   75     pmortlockrp@liveinternet.ru    Male
998   81            sphetterq@toplist.cz    Male
999   70           jtyresrr@slashdot.org    Male

[1000 rows x 3 columns]

In [15]:
assert isinstance(df_personal, pd.DataFrame)

### 2b) Check the first 10 emails 

Save the first 10 emails to a Series, and call it `sample_emails`. 
You should then and print out this Series. 
The purpose of this is to get a sense of how these work emails are structured and how we could possibly extract where each anonymous user seems to work.

In [16]:
sample_emails = pd.Series()
i = 0
for i in range(10):
    sample_emails.at[i] = df_personal.at[i, 'email']

print(sample_emails)

0    gshoreson0@seattletimes.com
1             eweaben1@salon.com
2        akillerby2@gravatar.com
3              gsainz3@zdnet.com
4       bdanilewicz4@4shared.com
5      sdeerness5@wikispaces.com
6         jstillwell6@ustream.tv
7         mpriestland7@opera.com
8       nerickssen8@hatena.ne.jp
9             hparsell9@xing.com
dtype: object

In [17]:
assert isinstance(sample_emails, pd.Series)

### 2c) Extract the Company Name From the Email 

Create a function with the following specifications:
- Function Name: extract_company
- Purpose: to extract the company of the email (i.e., everything after the @ sign but before the .)
- Parameter(s): email (string)
- Returns: The extracted part of the email (string)
- Hint: This should take 1 line of code. Look into the find('') method. 

You can start with this outline:
```python 
def extract_company(email):
    return
```

Example Usage: 
- extract_company("larhe@uber.com") should return "uber"
- extract_company(“ds@cogs.edu”) should return “cogs”

In [18]:
def extract_company(email):
    return email[(email.find('@')+1):email.find('.')]

test = "gshoreson0@seattletimes.com"
extract_company(test)

'seattletimes'

In [19]:
assert extract_company("gshoreson0@seattletimes.com") == "seattletimes"

With a little bit of basic sleuthing (aka googling) and web-scraping (aka selectively reading in html code) it turns out that you've been able to collect information about all the present employees/interns of the companies you are interested in. Specifically, on each company website, you have found the name, gender, and age of its employees. You have saved that info in employee_info.json and plan to see if, using this new information, you can match the Tinder accounts to actual names.

### 2d) Load in employee data 

Load the json file into a pandas dataframe. Call it `df_employee`.

In [20]:
df_employee = pd.DataFrame()
df_employee = pd.read_json('employee_info.json')
df_employee

     age      company first_name  gender        last_name
0     42      123-reg  Inglebert    Male         Falconer
1     14          163     Rafael    Male         Bedenham
2     31          163     Lemuel    Male             Lind
3     45          163      Penny  Female          Pennone
4     52          163       Elva  Female         Crighton
5     55         1688   Herminia  Female            Sisse
6     30        1und1       Toby  Female           Nisuis
7     36        1und1     Kylynn  Female         Vedikhov
8     37        1und1     Mychal    None          Denison
9     32          360    Angelle  Female           Kupisz
10    35          360     Ilario    Male          Mannagh
11    41          360     Farley    Male        Mullenger
12     5      4shared   Ginnifer  Female           Jarret
13    72      4shared      Brody    Male         Pinckard
14    30           51     Samara    None           Soares
15    50           51     Gillie  Female      Shillinglaw
16    70           51    Stanton    Male            Rehme
17     8          abc      Lukas    Male             Krol
18    22          abc      Glory  Female      Silverthorn
19    27        about      Marla  Female          Forsard
20    44        about     Karita  Female           Cantos
21    57        about    Isidora  Female       Yanyushkin
22    61     aboutads   Nikolaus    Male         Haulkham
23    34  accuweather   Sinclair    Male         Leverett
24    60  accuweather     Ilyssa  Female         Ottewill
25    36      addthis     Flossi  Female     Metheringham
26    20        admin      Ashby    Male           Gwilym
27    52        alexa     Carrol    Male        Terlinden
28    14      alibaba    Zebulon    Male          Gasnoll
29    38      alibaba     Celina  Female          Santoro
..   ...          ...        ...     ...              ...
970   40         yale   Violette  Female            Walsh
971   48         yale    Bobette  Female         Hurndall
972   65         yale    Gwenore  Female            Arens
973   72         yale       Mord    Male             Fant
974   20       yandex    Lennard    Male           Ducroe
975   42       yandex    Garwood    Male          Prophet
976   43       yandex    Pernell    Male           Reeman
977   57       yandex       Alic    Male         Peachman
978   59  ycombinator     Lenore  Female          Broxton
979   55   yellowbook   Charlena    None          Johncey
980   10  yellowpages        Rab    Male         Goldsack
981   24  yellowpages     Berthe  Female     Valentinuzzi
982   37  yellowpages    Elliott    Male              Oki
983   61  yellowpages     Moises    Male         Lansdale
984   15     yolasite       Gale    Male           Boorne
985   34     yolasite     Briney  Female  Grafton-Herbert
986   25        youku  Philomena  Female        Cranstoun
987   32        youku     Dianna  Female        Handyside
988   41        youku        May  Female         Sellwood
989   50        youku    Humfrey    Male         Wheelton
990   56        youku   Marchall    Male           Bilbee
991   38        youtu    Carroll  Female       Bertwistle
992   39        youtu  Claudette  Female          Gabotti
993   65        youtu      Tyler    Male       Giacovazzo
994    3      youtube     Herman    Male          Dhennin
995   46        zdnet      Guido    Male          Comfort
996   48        zdnet      Biron    Male        Malkinson
997   27       zimbio      Becka  Female            Waryk
998   34       zimbio   Andreana  Female          Ladewig
999   75       zimbio     Jobyna  Female            Busek

[1000 rows x 5 columns]

In [21]:
assert isinstance(df_employee, pd.DataFrame)

### 2e) Match the employee name with company, age, gender 

Create a function with the following specifications:
- Function name: employee_matcher
- Purpose: to match the employee name with the provided company, age, and gender
- Parameter(s): company (string), age (int), gender (string)
- Returns: The employee first_name and last_name like this: return first_name, last_name 
- Note: If there are multiple employees that fit the same description, first_name and last_name should return a list of all possible first names and last name i.e., ['Desmund', 'Kelby'], ['Shepley', 'Tichner']

Hint:
There are many different ways to code this. An unelegant solution is to loop through `df_employee` 
   and for each data item see if the company, age, and gender match
   i.e., 
   ```python
   for i in range(0, len(df_employee)):
             if (company == df_employee.ix[i,'company']):
   ```
   
However! The solution above is very inefficient and long, so you should try to look into this:
Google the df.loc method: It extracts pieces of the dataframe
   if it fulfills a certain condition.
   i.e., 
   
```python
df_employee.loc[df_employee['company'] == company]
```

If you need to convert your pandas data series into a list, you can do ```list(result)``` where result is a pandas "series"

You can start with this outline:
```python
def employee_matcher(company, age, gender):
    return first_name, last_name
```

In [22]:
def employee_matcher(company, age, gender):
    holder = df_employee.loc[(df_employee['company'] == company) & (df_employee['age'] == age) & (df_employee['gender'] == gender)]
    first_name = list(holder.first_name)
    last_name = list(holder.last_name)
    return first_name, last_name

employee_matcher("salon", 47, "Female")

(['Elenore'], ['Gravett'])

In [23]:
assert employee_matcher("google", 41, "Male") == (['Maxwell'], ['Jorio'])
assert employee_matcher("salon", 47, "Female") == (['Elenore'], ['Gravett'])

### 2f) Extract all the private data 

- Create 2 empty lists called `first_names` and `last_names`
- Loop through all the people we are trying to identify in df_personal
- Call the `extract_company function` (i.e., `extract_company(df_personal.ix[i, 'email'])` )
- Call the `employee_matcher` function 
- Append the results of `employee_matcher` to the appropriate lists (`first_names` and `last_names`)

In [24]:
first_names = []
last_names = []
i = 0
for i in range(len(df_personal.index)):
    company = extract_company(df_personal.at[i, 'email'])
    age = df_personal.at[i, 'age']
    gender = df_personal.at[i, 'gender']
    names = employee_matcher(company, age, gender)
    first_names.append(names[0])
    last_names.append(names[1])
print(first_names[45:50])
print(last_names[45:50])

#df_personal['first_name'] = first_names
#df_personal['last_name'] = last_names
#df_personal

[['Justino'], ['Tadio'], ['Kennith'], ['Cedric'], ['Amargo']]
[['Corro'], ['Blackford'], ['Milton'], ['Yggo'], ['Grigor']]

In [25]:
assert first_names[45:50]== [['Justino'], ['Tadio'], ['Kennith'], ['Cedric'], ['Amargo']]
assert last_names[45:50] == [['Corro'], ['Blackford'], ['Milton'], ['Yggo'], ['Grigor']]

### 2g) Add the names to the original 'secure' dataset! 

We have done this last step for you below, all you need to do is run this cell.
For your own personal enjoyment, you should also print out
  the new `df_personal` with the identified people.

In [26]:
df_personal['first_name'] = first_names
df_personal['last_name'] = last_names

We have now just discovered the 'anonymous' identities of all the registered Tinder users...awkward.

## Part 3: Anonymize Data

You are hopefully now convinced that with some seemingly harmless data a hacker can pretty easily discover the identities of certain users. Thus, we will now clean the original Tinder data ourselves according to the Safe Harbor Method in order to make sure that it has been *properly* cleaned...

### 3a) Load in personal data 

Load the user_dat.json file into a pandas dataframe. Call it `df_users`.
Note: You might find that using the same method as A2 (or above) leads to an error.
The file has a slightly different organization. 
  Try googling the error and finding the fix for it.
Hint: you can still use `pd.read_json`, you just need to add another argument.

In [27]:
df_users = pd.DataFrame()
df_users = pd.read_json('user_dat.json', lines=True)
df_users

,age,email,first_name,gender,ip_address,last_name,phone,zip
0,60,gshoreson0@seattletimes.com,Gordon,Male,230.97.219.70,DelaField,(245)663-9899,6705
1,47,eweaben1@salon.com,Elenore,Female,202.253.80.173,Gravett,(445)749-6402,40330
2,27,akillerby2@gravatar.com,Abbe,Male,15.120.128.79,Stockdale,(312)997-8947,44139
3,46,gsainz3@zdnet.com,Guido,Male,71.234.147.178,Comfort,(530)815-7417,44201
4,72,bdanilewicz4@4shared.com,Brody,Male,68.192.188.136,Pinckard,(214)138-6981,72956
5,46,sdeerness5@wikispaces.com,Shalne,Female,204.227.6.124,Smail,(918)972-0284,53086
6,53,jstillwell6@ustream.tv,Joell,Female,37.146.221.194,Bowlesworth,(113)112-6771,52073
7,29,mpriestland7@opera.com,Manfred,Male,67.64.181.77,Bricket,(665)414-5000,92617
8,39,nerickssen8@hatena.ne.jp,Neille,Female,180.183.192.79,McCahey,(218)925-2761,55027
9,45,hparsell9@xing.com,Henri,Male,32.181.36.170,Scotchford,(433)404-7429,74647
10,26,acopasa@fda.gov,Alyosha,Male,36.177.179.182,Scollan,(375)464-4912,50255
11,83,bdanielovitchb@jigsy.com,Berkie,Male,86.81.145.219,Ciementini,(678)997-5536,97842
12,73,cwestbergc@psu.edu,Caresse,Female,28.243.72.29,Cubbino,(920)742-0040,97004
13,30,jlarived@goodreads.com,Jo,Female,165.251.5.90,Grangier,(928)244-7440,37821
14,69,mchallisse@ning.com,Marcelia,Female,148.248.57.176,Dimitru,(727)125-0315,93255
15,29,cbrognotf@ebay.co.uk,Clim,Male,39.47.253.182,Roddam,(185)375-0188,98068
16,45,aphearg@tumblr.com,Arnie,Male,88.180.58.248,Raoux,(805)542-0438,8074
17,3,askogginsh@jugem.jp,Astrix,Female,208.161.20.23,Grooby,(841)267-7102,20005
18,34,eondraseki@deviantart.com,Enriqueta,Female,1.26.229.204,Raggles,(639)538-7115,42347
19,37,kcaswallj@is.gd,Kristen,Female,30.161.15.205,Vennart,(104)768-2999,52768
20,53,cpetrillok@cbsnews.com,Cletis,Male,205.38.38.180,Gulliman,(274)183-1917,73150
21,58,bstratfordl@ted.com,Bernadine,Female,159.77.18.200,La Padula,(981)342-5337,57313
22,83,mandreichikm@shareasale.com,Mack,Male,37.233.225.215,Hanwright,(605)741-2122,88052
23,47,jsegarn@sfgate.com,Jonas,Male,45.144.205.179,Checci,(460)335-2421,60073
24,51,aurridgeo@purevolume.com,Antoine,Male,101.79.179.65,Lukovic,(996)835-2682,44010
25,65,njandap@ebay.com,Nichols,Male,155.44.138.46,Flintoffe,(919)465-9344,55438
26,26,lwathallq@exblog.jp,Lorie,Female,79.106.191.247,Jeskin,(517)796-3878,70726
27,57,aoveringtonr@canalblog.com,Alissa,Female,148.136.49.1,Ganforthe,(175)703-9055,72576
28,39,dbrellins@ft.com,Dona,Female,82.233.62.39,Dumberell,(666)800-4626,96161
29,26,ebukact@toplist.cz,Essa,Female,191.180.218.203,Kaveney,(802)233-2511,34639
...,...,...,...,...,...,...,...,...
970,47,dsessionsqy@sakura.ne.jp,Dehlia,Female,4.190.6.161,Ades,(877)340-3983,81631
971,25,vkondratenkoqz@cornell.edu,Vick,Male,142.247.110.109,Ketley,(691)781-9582,23146
972,43,tbrethertonr0@lycos.com,Tilda,Female,110.232.61.135,Cossins,(323)288-9679,79530
973,65,srenfrewr1@shinystat.com,Stacey,Female,100.110.251.127,Quinion,(452)309-2781,74726
974,47,jjoiceyr2@theatlantic.com,Justin,Male,111.102.229.23,Bockings,(498)521-4884,22579
975,20,bborleacer3@naver.com,Beck,Male,235.145.58.208,Jerrand,(871)168-1695,50315
976,33,lmackeer4@reference.com,Lilla,Female,134.25.245.204,Pyffe,(646)378-6618,18037
977,37,mpaolicchir5@utexas.edu,Mellie,Female,134.131.44.209,Airdrie,(691)913-9932,74054
978,52,lgaliar6@lycos.com,Laverne,Female,119.36.146.55,Flint,(792)766-3084,47270
979,25,ldemcakr7@networksolutions.com,Lee,Female,62.235.73.154,Vasic,(626)210-9784,66023
980,35,ide giorgior8@360.cn,Ilario,Male,221.122.195.221,Mannagh,(501)588-7995,95113
981,41,mmctrustyr9@jugem.jp,Merell,Male,27.180.39.146,Kop,(532)164-3700,16508
982,63,ekohnra@amazonaws.com,Elia,Male,219.249.104.182,Stedmond,(160)896-8551,47515
983,35,mmillmorerb@hatena.ne.jp,Minor,Male,28.203.151.80,Kynaston,(312)645-4661,80654
984,20,lchaudrellerc@soup.io,Lon,Male,41.164.159.120,Dyster,(142)357-9842,54234
985,43,iavramovitzrd@ft.com,Ivy,Female,156.241.220.163,Cardo,(690)781-2853,1022
986,32,rreaneyre@canalblog.com,Rory,Female,88.61.92.34,Jersch,(461)911-4511,30176
987,30,sscawnrf@businessinsider.com,Sampson,Male,167.100.18.51,Wrangle,(275)423-6242,19119
988,48,lharbronrg@slashdot.org,Levey,Male,247.242.143.144,Towle,(828)103-0054,95492
989,37,pgurnayrh@uiuc.edu,Padgett,Male,232.159.28.11,Angus,(214)353-4128,88411
990,31,ckyngeri@hp.com,Chryste,Female,158.126.242.37,Kennington,(443)231-5097,1568
991,55,cboothroydrj@yellowbook.com,Charlena,None,164.13.253.57,Johncey,(746)900-3948,98548
992,14,kbrunkerrk@hibu.com,Keen,Male,228.227.8.245,MacDermot,(602)869-5523,50431
993,65,sleallerl@wikia.com,Selle,Female,42.147.60.17,Burleton,(320)646-8913,58005
994,38,kbeefonrm@vkontakte.ru,Karylin,Female,22.178.83.93,Crosbie,(519)281-1309,1826
995,3,pstroulgerrn@time.com,Penelopa,Female,116.139.135.110,Roman,(267)574-3068,82944
996,49,kbasnettro@seattletimes.com,Kandy,Female,204.88.246.32,Cossam,(790)556-4502,10455
997,75,pmortlockrp@liveinternet.ru,Paco,Male,223.217.138.28,Weatherburn,(267)644-8957,63940
998,81,sphetterq@toplist.cz,Sammy,Male,30.133.159.63,Dymick,(146)538-5595,24265
999,70,jtyresrr@slashdot.org,Josiah,Male,82.208.90.242,Ayshford,(571)127-0586,61774

In [28]:
assert isinstance(df_users, pd.DataFrame)

### 3b) Drop personal attributes 

Remove any personal information, following the Safe Harbour method.
Based on the Safe Harbour method, remove any columns from `df_users` that contain personal information. Note that details on the Safe Harbour method are covered in the Tutorials.

In [29]:
df_users.drop(['email', 'first_name', 'ip_address', 'last_name', 'phone'], axis=1, inplace=True)
df_users

     age  gender    zip
0     60    Male   6705
1     47  Female  40330
2     27    Male  44139
3     46    Male  44201
4     72    Male  72956
5     46  Female  53086
6     53  Female  52073
7     29    Male  92617
8     39  Female  55027
9     45    Male  74647
10    26    Male  50255
11    83    Male  97842
12    73  Female  97004
13    30  Female  37821
14    69  Female  93255
15    29    Male  98068
16    45    Male   8074
17     3  Female  20005
18    34  Female  42347
19    37  Female  52768
20    53    Male  73150
21    58  Female  57313
22    83    Male  88052
23    47    Male  60073
24    51    Male  44010
25    65    Male  55438
26    26  Female  70726
27    57  Female  72576
28    39  Female  96161
29    26  Female  34639
..   ...     ...    ...
970   47  Female  81631
971   25    Male  23146
972   43  Female  79530
973   65  Female  74726
974   47    Male  22579
975   20    Male  50315
976   33  Female  18037
977   37  Female  74054
978   52  Female  47270
979   25  Female  66023
980   35    Male  95113
981   41    Male  16508
982   63    Male  47515
983   35    Male  80654
984   20    Male  54234
985   43  Female   1022
986   32  Female  30176
987   30    Male  19119
988   48    Male  95492
989   37    Male  88411
990   31  Female   1568
991   55    None  98548
992   14    Male  50431
993   65  Female  58005
994   38  Female   1826
995    3  Female  82944
996   49  Female  10455
997   75    Male  63940
998   81    Male  24265
999   70    Male  61774

[1000 rows x 3 columns]

In [30]:
assert len(df_users.columns) == 3

### 3c) Drop ages that are above 90 

Safe Harbour rule C: Drop all the rows which have age greater than 90 from `df_users`.

In [31]:
df_users = df_users[df_users.age <= 90]
df_users

     age  gender    zip
0     60    Male   6705
1     47  Female  40330
2     27    Male  44139
3     46    Male  44201
4     72    Male  72956
5     46  Female  53086
6     53  Female  52073
7     29    Male  92617
8     39  Female  55027
9     45    Male  74647
10    26    Male  50255
11    83    Male  97842
12    73  Female  97004
13    30  Female  37821
14    69  Female  93255
15    29    Male  98068
16    45    Male   8074
17     3  Female  20005
18    34  Female  42347
19    37  Female  52768
20    53    Male  73150
21    58  Female  57313
22    83    Male  88052
23    47    Male  60073
24    51    Male  44010
25    65    Male  55438
26    26  Female  70726
27    57  Female  72576
28    39  Female  96161
29    26  Female  34639
..   ...     ...    ...
970   47  Female  81631
971   25    Male  23146
972   43  Female  79530
973   65  Female  74726
974   47    Male  22579
975   20    Male  50315
976   33  Female  18037
977   37  Female  74054
978   52  Female  47270
979   25  Female  66023
980   35    Male  95113
981   41    Male  16508
982   63    Male  47515
983   35    Male  80654
984   20    Male  54234
985   43  Female   1022
986   32  Female  30176
987   30    Male  19119
988   48    Male  95492
989   37    Male  88411
990   31  Female   1568
991   55    None  98548
992   14    Male  50431
993   65  Female  58005
994   38  Female   1826
995    3  Female  82944
996   49  Female  10455
997   75    Male  63940
998   81    Male  24265
999   70    Male  61774

[993 rows x 3 columns]

In [32]:
assert df_users.shape == (993, 3)

### 3d) Load in zip code data 

Load the zip_pop.csv file into a (different) pandas dataframe. Call it `df_zip`.
Note that the zip data should be read in as strings, not ints, as would be the default. 
In read_csv, use the parameter `dtype` to specify to read `zip` as str, and `population` as int.

In [33]:
df_zip = pd.DataFrame()
df_zip = pd.read_csv('zip_pop.csv', dtype={'zip':str, 'population':int})
df_zip

         zip  population
0      01001       16769
1      01002       29049
2      01003       10372
3      01005        5079
4      01007       14649
5      01008        1263
6      01009         741
7      01010        3609
8      01011        1370
9      01012         661
10     01013       23188
11     01020       29668
12     01022        2451
13     01026         946
14     01027       17660
15     01028       15720
16     01029         789
17     01030       11669
18     01031        1308
19     01032         570
20     01033        6227
21     01034        2021
22     01035        5250
23     01036        5109
24     01037         838
25     01038        2545
26     01039        1336
27     01040       39880
28     01050        2530
29     01053        1685
...      ...         ...
33062  99786         259
33063  99788          69
33064  99789         402
33065  99790          20
33066  99791         237
33067  99801       29164
33068  99820         479
33069  99824        2111
33070  99825         120
33071  99826         442
33072  99827        2602
33073  99829         777
33074  99830         561
33075  99832         104
33076  99833        3202
33077  99835        8880
33078  99836          52
33079  99840         968
33080  99841         133
33081  99901       13508
33082  99903          31
33083  99918         231
33084  99919         531
33085  99921        1920
33086  99922         384
33087  99923          87
33088  99925         819
33089  99926        1460
33090  99927          94
33091  99929        2338

[33092 rows x 2 columns]

In [34]:
assert isinstance(df_zip, pd.DataFrame)

### 3e) Sort zipcodes into "Geographic Subdivision" 

The Safe Harbour Method applies to "Geographic Subdivisions"
  as opposed to each zipcode itself. 
Geographic Subdivision:
  All areas which share the first 3 digits of a zip code

Count the total population for each geographic subdivision
Warning: you have to be savy with a dictionary here
To understand how a dictionary works, check the section materials,
  use google and go to discussion sections!

Instructions: 
- Create an empty dictionary: ```zip_dict = {}```
- Loop through all the zip_codes in df_zip
- Create a dictionary key for the first 3 digits of a zip_code in zip_dict
- Continually add population counts to the key that contains the 
    same first 3 digits of the zip code

To extract the population you will find this code useful:

```python
population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])
```

To extract the first 3 digits of a zip_code you will find this code useful:
```python
int(str(zip_code)[:3])
```
Note: this code may take some time (many seconds, up to a minute or two) to run

In [36]:
zip_dict = {}
for zip_code in df_zip.zip:
    zipc = int(str(zip_code)[:3])
    population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])
    if zipc not in zip_dict:
        zip_dict[zipc] = population
    else:
        zip_dict[zipc].append(population)
for key in zip_dict:
    sum(zip_dict[key])
zip_dict

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
assert isinstance(zip_dict, dict)
assert zip_dict[100] == 1502501

### 3f) Explain this code excerpt 
Note: you do not have to use this line of code at this point in the assignment.
It is one of the lines provided to you in 2e. Here, just write a quick comment on what it does. This question will not be graded, but it's important to be able to read other people's code.

In [ ]:
# In the cell below, explain in words what what the following line of code is doing:
population = list(df_zip.loc[df_zip['zip'] == zip_code]['population'])

The population variable is being set to a list that contains a population number based on the zip_code key that is being used as an iterator through df_zip.zip.

### 3g) Masking the Zip Codes 

In this part, you should write a for loop, updating the df_users dataframe.
Go through each user, and update their zip-code, to Safe Harbour specifications:
- If the user is from a zip code for the which the "Geographic Subdivision" is less than equal to 20000, change the zip code to 0 
- Otherwise, change the zip code to be only the first 3 numbers of the full zip cide
- Do all this re-writting the zip_code columns of the `df_users` DataFrame

Hints: This will be several lines of code, looping through the DataFrame, getting each zip code, checking the geographic subdivision with the population in `zip_dict`, and settig the `zip_code` accordingly.

In [ ]:
assert len(df_users) == 993
assert sum(df_users.zip == 0) == 7
assert df_users.loc[671, 'zip'] == 359

### 3h) Save out the properly anonymized data to json file 

Save out df_users as a json file, called `real_anon_user_dat.json`

In [37]:
df_users.to_json('real_anon_user_dat.json')

In [38]:
assert isinstance(pd.read_json('real_anon_user_dat.json'), pd.DataFrame)

Congrats, you're done! The users identities are much more protected now. 

Submit this notebook file to TritonED.